.movie-detail-container{
    max-width: 550px;
    margin: 0 auto;
    @media only screen and (max-width: 700px) {
      margin: 15px;
    }
    .title{
      margin: 20px auto;
      font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Helvetica,Arial,sans-serif;
      font-size: 45px;
      font-weight: 400;
      @media only screen and (max-width: 700px) {
        font-size: 35px;
        margin: 10px;
      }
    }
    .movie-detail{
      width: 100%;
      margin-bottom: 30px;
      background-color: #191919;
      box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
      display: flex;
      flex-wrap: wrap;
      .icons{
        padding: 3px;
        line-height: 1;
        font-size: 55px;
        transition: color .2s ease-out;
        color: #FFD700;
      }
      .span-text{
        color: white;
        max-width: 60px;
        display: inline-block;
        font-size: 25px;
      }
      .span-small{
        color: white;
        display: block;
        font-size: 12px;
      }
      .span-small{
        color: silver;
      }
      .left-content {
        flex: 1 1 auto;
        img {
          max-width: 250px;
          width: 100%;
          @media only screen and (max-width: 700px) {
            max-width: 100%;
          }
        }
      }
      .stars-content {
        text-align: right;
        @media only screen and (max-width: 700px) {
          text-align: center;
        }
    }
      .rigth-content{
        display: flex;
        margin: 20px;
        flex-direction: column;
        justify-content: space-between;
        .centered {
          align-self: center;
          color: white;
          max-width: 250px;
          text-align: center;
          @media only screen and (max-width: 700px) {
            align-self: center;
          }
        }
        .down {
          color: silver;
          font-size: 14px;
          align-self: flex-end;
          @media only screen and (max-width: 700px) {
            margin: 10px auto;
          }
        }
      }
    }
    .description-text{
        color: black;
        font-weight: 300;
      }
  }